@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}

.FAQ-accordion {
  .FAQ-accordion-item {
    border-bottom: 1px solid #e5e5e5;
  }
}

.FAQ-button[aria-expanded='true'] {
    border-bottom: 1px solid #C1D72D;
}
  
.FAQ-button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: black;
    font-size: 1.25rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    &:hover, &:focus {
      cursor: pointer;
      color: #C1D72D;
      &::after {
        cursor: pointer;
        color: #C1D72D;
        border: 1px solid #C1D72D;
      }
    }
    .FAQ-accordion-title {
      padding: 1em 1.5em 1em 0;
    }
    .FAQ-icon {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 0;
      width: 22px;
      height: 22px;
      border-radius: 22px;
      margin-left: 10px;
      &::before {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
      }
      &::after {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
      }
    }
  }

.FAQ-button[aria-expanded='true'] {
    color: #C1D72D;
    .FAQ-icon {
      &::after {
        width: 0;
      }
    }
    + .FAQ-accordion-content {
      opacity: 1;
      max-height: 9em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
  }
  
.FAQ-accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}
.FAQ-accordion-p {
      font-size: 1rem;
      font-weight: 300;
      margin: 2em 0;
    }
  
.FAQ-h2 {
  color:black;
  font-size: 26px;
  font-weight: bold;
}
