form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

label {
    margin-left: 10px;
	margin-bottom: 10px;
}

input[type="text"] {
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

input[type="submit"] {
	background-color: red;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}


/* CSS pour le formulaire de StageAjout */
.spacing{
    padding-top: 30px;
}
.StageAjout-Container {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: 0 auto;
    user-select:none;
    overflow: hidden;
}
.StageAjout-Title{
    color:white;
    background-color: #C1D72D;
    margin-top: 0px;
    padding: 5px;
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.StageAjout-Container h2 {
  text-align: center;
  margin-bottom: 20px;
  user-select:none;
  font-size: 28px;
  font-weight: bold;
}

.StageAjout-Form {
  display: flex;
  flex-direction: column;
  user-select:none;
}

.StageAjout-FormRow {
  margin-bottom: 10px;
}

.StageAjout-Label {
  font-weight: bold;
  text-align: left;
  align-items: left;
}

.StageAjout-Input,
.StageAjout-Textarea,
.StageAjout-Select {
    width: auto;
    margin: 5px;
    padding: 5px;
    border: 1px solid #C1D72D;
    border-radius: 5px;
}
.StageAjout-Textarea{
  width: 370px;
}

.StageAjout-Input:focus,
.StageAjout-Textarea:focus,
.StageAjout-Select:focus {
  outline: none;
  box-shadow: 0 0 5px #C1D72D;
}

.StageAjout-Textarea {
  resize: vertical;
}

.StageAjout-SubmitButton {
  background-color: #C1D72D;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.StageAjout-SubmitButton:hover {
  background-color: #B0C32B;
}
