.accueil-container {
  width: 100vw;
  height: 100vw;
  font-family: 'Hind', sans-serif;
  background: #fff;
  background-color: #C1D72D;
  display: flex;
  flex-direction: row;
}

.accueil-header {
  height: 100vw;
  justify-content: center;
}

.accueil-header-title {
  font-size: 2rem;
  padding: 1rem;
}

.accueil-header-subtitle {
  font-size: 1.5rem;
  padding: 1rem;
}

.accueil-content {
  background-color: #C1D72D;
  height: inherit;
  width: inherit;
  justify-content: center;
}

.accueil-section {
  margin: 1rem;
  padding: 0.3rem;
  width: 50vw;
  border-radius: 0.3rem;
  border-color: black;
  box-shadow: 2px 2px;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  background-color: white;
}

.accueil-section:hover { 
  scale: 101%;
  transition-duration: 0.5s;
}